.AllLogin {
  /* background: linear-gradient(69deg, #6812CB, #2674FC);
background-size: 4000% 400%;

-webkit-animation: AnimationName 3s ease infinite;
-moz-animation: AnimationName 3s ease infinite;
animation: AnimationName 3s ease infinite;


@-webkit-keyframes AnimationName {
0%{background-position:0% 52%}
50%{background-position:100% 49%}
100%{background-position:0% 52%}
}
@-moz-keyframes AnimationName {
0%{background-position:0% 52%}
50%{background-position:100% 49%}
100%{background-position:0% 52%}
}
@keyframes AnimationName {
0%{background-position:0% 52%}
50%{background-position:100% 49%}
100%{background-position:0% 52%}
} */

  background: rgb(240, 240, 247);
  background: radial-gradient(
    circle,
    rgba(240, 240, 247, 1) 0%,
    rgba(225, 225, 240, 1) 22%,
    rgba(0, 212, 255, 1) 100%
  );
}
.AllLogin {
  padding: 1em 0;
}
/* .AllLogin img {
  height: 100vh;
} */
.Login {
  background-color: white;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5em auto;
  border-radius: 10px;
  height: 70%;
  text-align: center;
  color: #efefef;
  font-size: 0.9em;
  padding: 1em;
  width: 50%;
}
.Login input {
  border-radius: 5px;
  box-shadow: black;
  margin: 0.5em 0;
  background-color: #332d2d;
  width: 100%;
  text-align: right;
  padding: 0 1em;
  height: 3em;
  padding: 0.5em;
}
.FormLogin {
  margin: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 11em;
  width: 100%;
  margin: 0 auto;
}
.Login button {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  width: 7em;
  margin: 1em 0;
  border-radius: 7px;
  height: 3em;
  align-items: center;
  display: flex;
  justify-content: center;
  color: black;
  font-weight: 600;
}
.TextLogin {
  margin: 3em 0;
}

.SocialMedia {
  display: flex;
  justify-content: space-evenly;
  height: 6em;
  align-items: center;
  width: 50%;
  margin: 2em auto;
  color: black;
}

@media screen and (max-width: 320px) {
  .Login {
    width: 80%;
  }
}
.AllLogin {
  padding: 0.7em 0;
}

@media screen and (max-width: 769px) {
  .Login {
    /* width:40%; */
  }
}

@media screen and (max-width: 1200px) {
}
