.menuTop {
  list-style: none;
}

.menuTop.is-open {
  /* display: block; */
}

@media screen and (max-width: 320px) {
  .menuAll {
    display: block;
  }
  .menuTop {
    display: none;
    /* position: relative; */
    left: 5em;
    top: 5em;
  }

  .menuTop.is-open {
    display: block;
    width: 4em;
  }

  .menuTop.is-open ul li a {
    width: 100%;
    border-bottom: 1px solid lightgrey;
    border-radius: 7px;
  }

  .menuTop.is-open ul {
    width: 80%;
    z-index: 2;
    position: absolute;
    left: 2.5em;
    top: 12em;
  }
}

@media screen and (max-width: 769px) {
  .menuTop {
    display: none;
  }

  .menuTop.is-open {
    display: block;
  }

  .menuAll {
    position: absolute;
    left: 1em;
    top: 10em;
    width: 3em;

    display: block;
  }
}

@media screen and (max-width: 1200px) {
}
