.Carts{
    border-radius: 5px;
     display: flex;
    flex-direction: row;
     justify-content: space-evenly;
     width:100%;
     /* border: 1px solid black; */
    }
    
    .Products{
        margin:2em 1em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        /* align-items: center; */
        width:100%;
        
        text-align: center;
        
        

}

.pro{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height:auto;
    padding:1em 0.5em;
    border-radius: 5px;
    /* padding:0.5em; */
    /* width:100%; */
    width:12em;
    margin:1em 0;
    /* border:1px solid ; */
    
}
  
.pic:hover{
    /* margin:1.2em 0; */
    transform: scale(1.10);
    /* padding:1em 0.5em; */

}
.price{
    margin-bottom: 10em;
}

.img{

    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    position:relative;
    
}

 
.buttonStyle{
  align-items: center;
  background-color: #ff0000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 400;
  justify-content: center;
  line-height: 0.5;
  margin: 0;
  height:1em;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 60%p;
}

.buttonStyle:hover,
.buttonStyle:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.buttonStyle:hover {
  transform: translateY(-1px);
  color:#fff;
}

.buttonStyle:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}





.dis{
    width:2.5em;
    position: absolute;
    right:0;
    top:0;
    color:#fff;
}

.BasketPlus{
  
  display:flex;
  justify-content: space-evenly;
  padding:0.5em 0;
  margin:0.2em;
}
.BasketPlus>*{
  width:3em;

}
.BasketPlus>*:hover{
  color:red;
  cursor: pointer;
  transform:scale(1.5)
}

@media screen and (max-width:320px){
    .pic {
    }
    .pro{
        width:100%;
       }
       .Products{
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        width:85%;
        background-color: #fff;
    }
    .Carts{
        /* border:1px solid black; */
        width:100%;
        
      }
    }
    @media screen and (min-width:768px){
 .pro{
   /* width:45%;  */
 }

}

@media screen and (max-width:1200px){
   
   .Home{
    /* border:1px solid black; */
   }
}